body {
    background-image: url('images/thumb-1920-924464.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: white;
    margin: 0;
    font-size: 25px;
}
.container{
    margin-top: 140px;
    height: auto;
}

.container, .section {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.rr{
    background:transparent;
}
.hidden {
    display: none;
}

.button {
    padding: 15px 30px;
    color: aliceblue;
    background-color: rgb(11, 88, 17);
    border-color: transparent;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.la {
    display: block;
    margin: 10px 0;
}

.la > input, .la > select {
    width: 100%;
    margin: 10px -10px;
    font-size: medium;
    border-radius: 5px;
    padding: 7px;
}

#attendance-table {
    width: 100%;
    border-collapse: collapse;
}

#attendance-table th, #attendance-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
